.env
files/*.rsa
files/*.rsa.pub
files/*.drawio.bkp

.idea/
.vscode/
.DS_STORE
.DS_Store

files/emulator/data/bucketname/*
!files/emulator/data/bucketname/.gitkeep
files/emulator/storage/**
!files/emulator/storage/bucketname/
!files/emulator/storage/bucketname/.gitkeep
